@page "/Store/Cancel"
@using SerbleWebsite.Data
@inject Localiser Localiser

<div class="text-center">
    <h1>@Localiser["purchase-cancelled"]</h1>
    
    <p class="p-5">
        @Localiser["sub-will-help-us"]
        
        <div class="p-3">
            <a class="btn btn-primary" href="/store">@Localiser["store"]</a>
            <a class="btn btn-primary" href="/account">@Localiser["account-page"]</a>
            <a class="btn btn-primary" href="/">@Localiser["home-page"]</a>
        </div>
    </p>
</div>

@code {
    
}