@page "/swift"
@using SerbleWebsite.Data.Schemas
@using SerbleWebsite.Data
@inject Localiser Localiser

<RequireLogin RedirectToLogin="false" Callback="LoginCallback"></RequireLogin>
<PageTitle>@Localiser["serble"] - SWIFT</PageTitle>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">SWIFT</h1>
  <p class="fs-5 text-muted">
    @Localiser["swift-description"]
  </p>
</div>

<main class="p-5">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col bg-dark">
      <div class="card mb-4 rounded-3 shadow-sm bg-dark border-secondary">
        <div class="card-header py-3 border-secondary">
          <h4 class="my-0 fw-normal">@Localiser["account-type-free"]</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">@Localiser["per-month"]</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Voting</li>
            <li>View Trust Rating</li>
            <li>Less Cool</li>
            <li>-</li>
            <li>-</li>
          </ul>
          <a href="../account" type="button" class="w-100 btn btn-lg btn-outline-primary">@Localiser["sign-up-for-free"]</a>
        </div>
      </div>
    </div>
    
    <div class="col bg-dark">
      <div class="card mb-4 rounded-3 shadow-sm border-primary bg-dark">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">@Localiser["account-type-premium"]</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$2<small class="text-muted fw-light">@Localiser["per-month"]</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Everything From Free Plan (Except the last one)</li>
            <li>Warnings For Risky Pages</li>
            <li>Higher Vote Importance</li>
            <li>Extremely Cool</li>
            <li>-</li>
          </ul>
          <a href="/store/purchase?product=swiftpremium&price_id=monthly" id="checkout-and-portal-button" class="w-100 btn btn-lg btn-primary" type="submit">@Localiser["subscribe"]</a>
        </div>
      </div>
    </div>
    
    <div class="col bg-dark">
      <div class="card mb-4 rounded-3 shadow-sm border-primary bg-dark">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">@Localiser["account-type-premium"]</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$20<small class="text-muted fw-light">@Localiser["per-year"]</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Everything From Free Plan (Except the last one)</li>
            <li>Warnings For Risky Pages</li>
            <li>Higher Vote Importance</li>
            <li>Extremely Cool</li>
            <li>-</li>
          </ul>
          <a href="/store/purchase?product=swiftpremium&price_id=yearly" id="" class="w-100 btn btn-lg btn-primary" type="submit">@Localiser["subscribe"]</a>
        </div>
      </div>
    </div>
  </div>
  
</main>


@code {

  private Task LoginCallback((User?, string) data) {
    User user = data.Item1!;
    return Task.CompletedTask;
  }
  
}