@page "/"
@using SerbleWebsite.Data
@inject Localiser Localiser

<PublicPage></PublicPage>
<PageTitle>@Localiser["serble"]</PageTitle>

<div class="jumbotron jumbotron-fluid text-center" style="background-color: #333339;color: #ffffff">
   <h1 class="display-4">@Localiser["serble"]</h1>
   <p class="lead" style="padding-left: 100px; padding-right: 100px">
       @Localiser["welcome-to-serble"].Replace("[", "<a href=\"/contact\">").Replace("]", "</a>").MarkupString()
   </p>
   <br>
    <p class="lead" style="padding-left: 100px; padding-right: 100px">
        @Localiser["looking-for-mc-server"].Replace("[", "<a href=\"https://old.serble.net\">").Replace("]", "</a>").MarkupString()
    </p>
   <hr class="my-4">
   <p class="lead" style="padding-bottom: 10px">
      <a class="btn btn-primary btn-lg" href="/discord/" role="button" style="margin-right: 5px;">@Localiser["serble-discord"]</a>
      <a class="btn btn-primary btn-lg" href="https://status.serble.net" role="button" style="margin-left: 5px;">@Localiser["uptime-monitor"]</a>
   </p>
</div>