<link href="/assets/css/admin.css" rel="stylesheet">

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link @GetClass(CurrentPage.Dashboard)" aria-current="page" href="/admin">
              <Icon IconName="home"></Icon>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link @GetClass(CurrentPage.UserManager)" href="/admin/usermanager">
              <Icon IconName="user"></Icon>
              User Manager
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link @GetClass(CurrentPage.ControlBoard)" href="/admin/controlboard">
              <Icon IconName="control-board"></Icon>
              Control Board
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link @GetClass(CurrentPage.Config)" href="/admin/config">
              <Icon IconName="gear"></Icon>
              Config
            </a>
          </li>
        </ul>

      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@Title</h1>
      </div>

      <div>@ChildContent</div>
      
    </main>
  </div>
</div>

@code {
  
  [Parameter]
  public RenderFragment ChildContent { get; set; }

  [Parameter]
  public string Title { get; set; } = "Admin";
  
  [Parameter]
  public CurrentPage Page { get; set; } = CurrentPage.Dashboard;

  private string GetClass(CurrentPage linkName) {
    return linkName == Page ? "active" : "";
  }
  
  public enum CurrentPage {
    Dashboard,
    UserManager,
    ControlBoard,
    Config,
    Disabled
  }

}